In [15]:
# Importo las librerias necesarias para trabajar
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [16]:
# Importo el dataset 
df = pd.read_csv('realtor-data.csv')
df.head(10)

,status,bed,bath,acre_lot,city,state,zip_code,house_size,prev_sold_date,price
0,for_sale,3.0,2.0,0.12,Adjuntas,Puerto Rico,601.0,920.0,NaN,105000.0
1,for_sale,4.0,2.0,0.08,Adjuntas,Puerto Rico,601.0,1527.0,NaN,80000.0
2,for_sale,2.0,1.0,0.15,Juana Diaz,Puerto Rico,795.0,748.0,NaN,67000.0
3,for_sale,4.0,2.0,0.10,Ponce,Puerto Rico,731.0,1800.0,NaN,145000.0
4,for_sale,6.0,2.0,0.05,Mayaguez,Puerto Rico,680.0,NaN,NaN,65000.0
5,for_sale,4.0,3.0,0.46,San Sebastian,Puerto Rico,612.0,2520.0,NaN,179000.0
6,for_sale,3.0,1.0,0.20,Ciales,Puerto Rico,639.0,2040.0,NaN,50000.0
7,for_sale,3.0,2.0,0.08,Ponce,Puerto Rico,731.0,1050.0,NaN,71600.0
8,for_sale,2.0,1.0,0.09,Ponce,Puerto Rico,730.0,1092.0,NaN,100000.0
9,for_sale,5.0,3.0,7.46,Las Marias,Puerto Rico,670.0,5403.0,NaN,300000.0

In [17]:
# Tenemos un dataframe de 100.000 filas y 10 columnas
df.shape

(100000, 10)

In [18]:
# Busco si existen valores nulos
df.isnull().sum()

status                0
bed               24950
bath              24888
acre_lot          14013
city                 52
state                 0
zip_code            195
house_size        24918
prev_sold_date    71255
price                 0
dtype: int64

In [19]:
# Calculo la mediana de la columna "acre_lot" para llenar los valores nulos
acre_median = df['acre_lot'].median()
df['acre_lot'] = df['acre_lot'].fillna(acre_median)

In [20]:
# Elimino la columna 'prev_sold_date' porque no la voy a utilizar
df.drop(columns = 'prev_sold_date', inplace=True)

In [21]:
# Calculo la mediana de la columna 'house size' y relleno los valores nulos
house_size_median = df.house_size.median()
df.house_size.fillna(house_size_median, inplace=True)

In [22]:
# Calculo la mediana de la columna 'bed' y relleno los valores nulos
bed_median = df.bed.median()
df.bed.fillna(bed_median, inplace=True)

In [23]:
# Calculo la mediana de la columna 'bath' y relleno los valores nulos
bath_median = df.bath.median()
df.bath.fillna(bath_median, inplace=True)

In [24]:
df.isnull().sum()

status          0
bed             0
bath            0
acre_lot        0
city           52
state           0
zip_code      195
house_size      0
price           0
dtype: int64

In [25]:
#Borro los datos nulos de las columnas 'zip code' y 'city' ya que son pocos y no afectan al df.
df.dropna(inplace=True)

In [26]:
df.isnull().sum()

status        0
bed           0
bath          0
acre_lot      0
city          0
state         0
zip_code      0
house_size    0
price         0
dtype: int64